{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'growlivapp/login.css' %}">
    <title>Mite Count Pro</title>
</head>
<body>

{% if user.is_authenticated %}
    <header class="px-6 py-4 bg-white shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img src="{% static 'growlivapp/final.png' %}" alt="Mite Count Pro" class="logo w-8 h-8 mr-2">
                <div class="text-black font-bold">Mite Count Pro</div>
            </div>
            <div class="space-x-4">
                <a href="{% url 'growlivapp:scan_detail_page' %}" class="text-gray-600 hover:text-gray-900">History</a>
                <a href="{% url 'growlivapp:profile' %}" class="text-gray-600 hover:text-gray-900">Profile</a>
                <a href="{% url 'growlivapp:logout_user' %}" class="text-gray-600 hover:text-gray-900">Logout</a>
            </div>
        </div>
    </header>
{% endif %}

{% block body_block %}
    ***
{% endblock %}
</body>
