{% extends 'growlivapp/Authbarbase.html' %}
{% load static %}
{% block body_block %}
    <div class="container">
        <div class="main">
            <img src="{% static 'growlivapp/logo1.png' %}" alt="Growliv Business Logo" class="growliv-logo">
            <form class="form1">
                {% csrf_token %}
                <div style="align-content: center">
                    <input class="un " type="text" placeholder="Username" style="margin-left: 0px">
                </div>
                <div style="align-content: center">
                    <input class="pass" type="password" placeholder="Password" style="margin-left: 0px">
                </div>
                <a class="submit" align="center" style="margin-left: 0px">Sign in</a>
                <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
        </div>
    </div>
{% endblock %}