{% extends 'growlivapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Mite Count Pro</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
{% block body_block %}
    <main class="p-6 flex-grow">
        <div class="max-w-xl mx-auto">
            {#        here will be the code for the information#}
            <div class="bg-white p-6 shadow rounded">
                <h1 class="text-2xl font-bold text-center mb-6" style="font-family: Lucinda Grande, Lucinda Sans Unicode, Helvetica, Arial, Verdana, sans-serif">User Infromation</h1>
                <div class="w-full mb-3">
                    <label class="text-gray-700">Email</label>
                    <input type="email" value="{{ business.email }}" readonly class="w-full p-2 border rounded">
                </div>
                <div class="w-full mb-3">
                    <label class="text-gray-700">Business Name</label>
                    <input type="email" value="{{ business.business_name }}" readonly class="w-full p-2 border rounded">
                </div>
                <div class="w-full mb-3">
                    <label class="text-gray-700">Business Contact</label>
                    <input type="email" value="{{ business.business_phone }}" readonly
                           class="w-full p-2 border rounded">
                </div>
                <div class="w-full mb-3">
                    <label class="text-gray-700">Contact Name</label>
                    <input type="email" value="{{ business.contact_person_name }}" readonly
                           class="w-full p-2 border rounded">
                </div>
                <div class="flex flex-col items-center pb-10" style="padding-top: 40px">
                    <div class="w-full mb-3">
                        <a href="{% url 'growlivapp:change_password' %}"
                           class="w-full text-center block bg-green-600 text-white p-2 rounded hover:bg-green-800">Save
                            Changes</a>
                    </div>
                    <div class="w-full mb-3">
                        <a href="{% url 'growlivapp:change_password' %}"
                           class="w-full text-center block bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Change
                            Password</a>
                    </div>
                    <div class="w-full">
                        <a href="#"
                           class="w-full text-center block bg-red-500 text-white p-2 rounded hover:bg-red-600">Delete
                            Account</a>
                    </div>
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

</body>
</html>
