{% extends 'growlivapp/Authbarbase.html' %}
{% load static %}
{% block body_block %}


    <div class="container">
        <div class="main" style="height: 750px">
            <img src="{% static "growlivapp/logo1.png" %}" alt="Growliv Business Logo" class="growliv-logo">
            <div class="login-form">
                <form class="form1" method="post" action="{% url 'growlivapp:signup' %}">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="username" placeholder="Username" class="un" style="margin-left: 0px">
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Email" class="un" style="margin-left: 0px">
                    </div>
                    <div>
                        <input type="password" name="password1" placeholder="Password" class="un"
                               style="margin-left: 0px">
                    </div>
                    <div>
                        <input type="password" name="password2" placeholder="Confirm Password" class="un"
                               style="margin-left: 0px">
                    </div>
                    

                    <button class="submit" type="submit" style="margin-left: 0px">Sign Up</button>
                    <br>
                    <br>
                    <a class="forgot" href="instruction.html" class="forgot-password">Forgot Password? </a>
                    <br>
                    <br>
                    <span class="new-user">New User?</span> 
                    <a class="signup" href="{% url 'growlivapp:login' %}">Login</a>

                </form>
            </div>
        </div>
    </div>

{% endblock %}